.DS_Store
The project's name.
'AroundtheUS'


A description of the project and its functionality.
This project is made so all the elements are displayed correctly on various screen sizes. 
User will have the ability to upload quality photo, share thier work and interact with thier target audience.

A description of technologies and techniques used.
Ths product was created using Html CSS amd Figma


Pictures, GIFs, or screenshots that detail the project features (highly recommended).
