.card{
 border-radius: 10px;
display: flex;
overflow: hidden;
flex-direction: column;
list-style-type: none; 
}

.card__title{
 max-width: 220px;
 font-family: "Inter",Arial, Helvetica, sans-serif;
 font-size: 24px;
 font-weight: 900;
 line-height: 1.5;
 text-overflow: ellipsis;
 white-space: nowrap;
 overflow: hidden;
 margin: 0;
}

.card__image{
width: 282px;
height: 282px;
}

.card__description{
align-items: center;
background-color: white;
color: black;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden; 
display: flex;
font-family: "Inter",Arial, Helvetica, sans-serif;
padding:25px 20px 25px 20px ;
justify-content: space-between;
line-height: 1.5;

}

.card__like-button{
background:transparent url(../images/like-image.svg) no-repeat center;
border: none;
width: 21px;
height: 18px;
} 

.card__like-button:hover{
cursor: pointer;
opacity: 60%;
}
