.header{
 align-items: center;
border-bottom:1px solid rgba(84, 84, 84, 1);
margin-top:45px;
padding-bottom: 41px;

}

.header__logo{
   height: 33px;
   width:173px ;
}


@media screen and (max-width:690px) {
 .header {
    min-height:56px;
    padding-bottom:32px;
 }

 .header__logo{
    height:24px;
    width:126px;
    
 }
}

