.profile{
 align-items: center;
 display: flex;
 max-width: 880px;
 width: 100%;
 max-height: 120px;
 position: relative;
 padding-top: 40px;
}


.profile__info{
 align-items: baseline;
display: grid;
grid-template-areas:
"title button" 
"description description";
grid-template-columns: minmax(auto, 373px) auto;
}


.profile__title{
 font-size: 42px;
 grid-area: title;
 font-weight: 500;
 line-height:48px;
 margin-bottom: 0;
}

.profile__description{ 
 font-family: "Inter",Arial, Helvetica, sans-serif;
 font-size: 18px;
 font-weight: 400;
 grid-area:description;
 line-height: 1.5;

}

.profile__image{
 border-radius: 50%;
 background-position: center;
 width: 120px;
 height: 120px;
 object-fit: cover;
 margin-right:24px;
}



.profile__edit-button{
background: transparent url(../images/edit-button.svg) center no-repeat;
border: 1px solid #FFFFFF;
height: 24px;
width: 24px;
grid-area: button;
}

.profile__edit-button:hover{
cursor: pointer;
opacity: 60%;
opacity: 60%;
transition-duration: 1.2s;
transition-timing-function: ease-in-out;
}

.profile__add-button{
 background: transparent url(../images/add-button.svg) center no-repeat;
 border: 2px solid #FFFFFF;
 border-radius: 2px;
 height: 50px;
 width: 150px;
 margin-left: auto;
}

.profile__add-button:hover{
 cursor: pointer;
opacity: 60%;
transition-duration: 0.7s;
transition-timing-function: ease-in-out;
}



@media screen and (max-width:320px) {
 .profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  
 }
 .profile__info{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  line-height: 1.2;
  text-overflow: ellipsis;
  width:100%;
 }
.profile__title{
 font-size: 22px;
 line-height: 1.2;
}
 .profile__description{
  width: 100%;
  font-size: 14px ;
  text-align:center;
  line-height: 1.2;
  
 }

 .profile__edit-button{
  width: 18px;
  height: 18px;
 }

 .profile__add-button{
  width: 282px;
  margin: 0;
 }
}

/* @media screen and (max-width:800px) {
 .profile{
  margin: 0 10px 0 10px;
 }
} */